<div class="@@el sc-block">
  <ul class="sc-block__list">
    <li class="sc-block__item">
      <a href="#" class="sc-block__link">
        <svg class="u-icon sc-block__icon">
          <use xlink:href="images/icons/icons.svg#facebook"></use>
        </svg>
      </a>
    </li>
    <li class="sc-block__item">
      <a href="#" class="sc-block__link">
        <svg class="u-icon sc-block__icon">
          <use xlink:href="images/icons/icons.svg#instagram"></use>
        </svg>
      </a>
    </li>
    <li class="sc-block__item">
      <a href="#" class="sc-block__link">
        <svg class="u-icon sc-block__icon">
          <use xlink:href="images/icons/icons.svg#twitter"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>