*,*:before,*:after{margin:0;padding:0;box-sizing: border-box}
html{-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bold}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:0.1rem dotted buttontext}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}

html {
  font-size: $siteResolution;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  background: $navyColor;
  font-style: normal;
  font-weight: normal;
  font-size: var(--fs-default);
  line-height: $lineHeightDefault;
  font-family: $fontFamily;
  color: $fontColor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  &.is-hidden {
    overflow: hidden;
    @media (min-width: $lg-mf) {
      margin-right: 1.7rem;
    }
  }
  &.is-lock {
    overflow: hidden;
  }
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

input,
button,
select,
textarea {
  font-weight: normal;
  font-family: $fontFamily;
  line-height: $lineHeightDefault;
}

input,
button {
  appearance: none;
}

picture,
time,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title-size-1,
.title-size-2,
.title-size-3,
.title-size-4,
.title-size-5,
.title-size-6 {
  margin-top: 0;
  font-style: italic;
  font-weight: 800;
  font-family: $fontFamily;
  line-height: $lineHeightTitle;
}

h1,
.title-size-1 {
  font-size: var(--fs-1);
}

h2,
.title-size-2 {
  font-size: var(--fs-2);
}

h3,
.title-size-3 {
  font-size: var(--fs-3);
}

h4,
.title-size-4 {
  font-size: var(--fs-4);
}

h5,
.title-size-5 {
  font-size: var(--fs-5);
}

h6,
.title-size-6 {
  font-size: var(--fs-6);
}

p {
  margin-top: 0;
}

svg,
.u-icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentColor;
  color: inherit;
}

.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  width: 1px!important;
  height: 1px!important;
  margin: -1px!important;
  padding: 0!important;
  position: absolute!important;
  border: 0!important;
  clip: rect(0,0,0,0)!important;
  white-space: nowrap!important;
  overflow: hidden!important;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  overflow: clip;
}

.site {
  &__header {
    background: $navyColor;
    margin: 0 0 75rem;
    position: sticky;
    top: 0;
    z-index: 998;
    @media (max-width: $md) {
      margin-bottom: 24rem;
    }
  }
  &__footer {
    margin-top: auto;
  }
  &__main {
    width: 100%;
    max-width: 1350rem;
    margin: 0 auto;
    padding: 0 35rem;
    flex-grow: 1;
    @media (max-width: $lg) {
      padding: 0 20rem;
    }
    @media (max-width: $sm) {
      padding: 0 16rem;
    }
  }
}